Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: python tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: python tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://github.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

Added EQ knobs and central knobs definitions
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Completed Pitch control and Jog wheels sections
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected URL to the mapping project
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

made minor corrections for formatting
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Minor corrections about jog wheels section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

minor corrections for formatting the jog wheels section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Reformatted the Jog wheels section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Formatting the jog wheels section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Formatting jog wheels section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Minor corrections in jog wheel section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected Low EQ knob formatting
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Adjusted EQ knobs formatting
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected preview error and added authors
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Added jpg photo
  source/_static/controllers/roland_dj_202.jpg
Due: none

Corrected link for the added jpg photo
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Removed Trailing Whitespace.
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Updated top boxes to newer code
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Spelling correction
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected -rst:191: WARNING: Title overline too short.
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected forum link error
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected - rst:191: WARNING: Title overline too short.
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Added svg images
  source/_static/controllers/roland_dj_202_browser.svg.svg
  source/_static/controllers/roland_dj_202_deck.svg.svg
  source/_static/controllers/roland_dj_202_mixer.svg.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_browser.svg.svg
  source/_static/controllers/roland_dj_202_browser.svg.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_deck.svg.svg
  source/_static/controllers/roland_dj_202_deck.svg.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_mixer.svg.svg
  source/_static/controllers/roland_dj_202_mixer.svg.svg
Due: scour

Added svg for browser, deck, mixer
  source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Added numbers to match serato's manual
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Added browser section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Delete source/_static/controllers/roland_dj_202_mixer.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_deck.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_browser.svg
Due: scour

Optimized SVG
  source/_static/controllers/roland_dj_202.svg
  source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Delete source/_static/controllers/roland_dj_202.svg
  source/_static/controllers/roland_dj_202.svg
Due: scour

Trimmed whitespace
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Compressed SVG files
  source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour
