Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

scour:
  name: Optimize SVG files
  entry: tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: tools/fixup_gh_wiki_anchors.py
  language: python

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.3 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Reloop Mixage MIDI controller documentation
  source/_static/controllers/reloop_mixage_top.jpg
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Trim trailing whitespace and fix typo
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Update Getting Involved
  source/chapters/getting_involved.rst
Due: gh-wiki-anchors

docs(getting_involved): Replace/remove LaunchPad links
  source/chapters/getting_involved.rst
Due: gh-wiki-anchors

sphinx_mixxx: declare not safe for parallel reading and writing
  sphinx-mixxx/sphinx_mixxx/setup.py
Due: none

Update user interface chapter
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

Update source translations and Transifex configuration.
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/user_interface.pot
Due: none

Update equalizers preferences page
  source/chapters/preferences/equalizers.rst
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

Update source translations and Transifex configuration.
  source/locale/pot/chapters/preferences/equalizers.pot
  source/locale/pot/chapters/user_interface.pot
Due: none

fix(ci): bump python runtime version
  runtime.txt
Due: none

WIP: remove minor python version pinning
  runtime.txt
Due: none

Numark Party Mix: added initial mapping doc
  source/_static/controllers/numark_party_mix.svg
  source/hardware/controllers/numark_party_mix.rst
Due: scour, gh-wiki-anchors

Library: rename leftover Browse > Computer
  source/chapters/library.rst
Due: gh-wiki-anchors

Library > Finding tracks: mention limited filter in Computer & Recording
  source/chapters/library.rst
Due: gh-wiki-anchors

Fix link to the DDJ 400 manual
  source/conf.py
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors

Apply changes by scour
  source/_static/controllers/hercules_djcontrol_mp3_e2_mapping.svg
Due: scour

Adding Ableton Push mapping manual
  source/_static/controllers/ableton_push.png
  source/hardware/controllers/ableton_push.rst
Due: gh-wiki-anchors

Add forum link
  source/hardware/controllers/ableton_push.rst
Due: gh-wiki-anchors

Add screen info
  source/hardware/controllers/ableton_push.rst
Due: gh-wiki-anchors

Change flake8 source from gitlab to github, because gitlab requires personal user authentication to clone the git repository
  .pre-commit-config.yaml
Due: none

Define python as interpreter for .py scripts (otherwise it depends on the Shebang in the .py file, which is a Unix only feature)
  .pre-commit-config.yaml
Due: none

Executed Pre-Commit SVG optimizer
  source/_static/controllers/hercules_djcontrol_mp3_e2_mapping.svg
Due: scour

Fixed broken link for DDJ400 manual
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors

Corrected a minor typo
  source/chapters/preferences/library.rst
Due: gh-wiki-anchors

Addresses first half of #530. Added HINT that users can reset the rate and pitch on track load.
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

NI Traktor S2 MK1: Add initial manual page
  source/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.rst
Due: gh-wiki-anchors

Traktor S2 Mk1: Fix version, reset and effects
  source/chapters/effects.rst
  source/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.rst
Due: gh-wiki-anchors

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
