Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: python tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: python tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: [
      --ignore-words,
      .codespellignore,
      --write-changes,
    ]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://github.com/pycqa/flake8
  rev: '7.1.1'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: 'v6.2.4'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

fix: upgrade all python versions used on CI to 3.13
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/sphinx.yml
Due: none

Quick effect is toggled with [QuickEffectRack1_[ChannelI]],enabled
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

chore: fix more spelling mistakes caught by codespell
  source/conf.py
  source/hardware/controllers/hercules_dj_console_4_mx.rst
  source/hardware/controllers/hercules_dj_console_rmx.rst
  source/hardware/controllers/numark_n4.rst
  source/hardware/controllers/pioneer_ddj_sx.rst
  source/hardware/controllers/reloop_beatpad.rst
  source/hardware/controllers/reloop_terminal_mix_series.rst
Due: gh-wiki-anchors

Add information about new option that was added in Mixxx 2.5
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

Add Hercules Inpulse 500 Manual
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: gh-wiki-anchors

document `tempo_tap`
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Fix trailing space after description
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

Pitch slider is no longer opposite to turntable/CDJ behaviour
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

added schematic svg, correct info about main output
  source/_static/controllers/hercules_djcontrol_inpulse_500.svg
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: scour, gh-wiki-anchors

annotate
  source/_static/controllers/hercules_djcontrol_inpulse_500.svg
Due: scour

tweaking main svg, adding loop svgs (without shift, with shift)
  source/_static/controllers/hercules_djcontrol_inpulse_500.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop_shift.svg
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: scour, gh-wiki-anchors

Gitignore generated egg-info files
  .gitignore
Due: none

Add manual page for M-Vave SMK-25 II keyboard
  source/_static/controllers/mvave-smk-25-ii_layer1.svg
  source/_static/controllers/mvave-smk-25-ii_layer2.svg
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: scour, gh-wiki-anchors

Add warning about connecting via Bluetooth
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

Add footenote about bluetooth latency
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

fix: sphinx build due to broken table :widths: directive
  source/hardware/controllers/reloop_digital_jockey_2_interface_edition.rst
Due: gh-wiki-anchors

Add M-Vave SMC-Mixer documentation
  source/_static/controllers/mvave_smc_mixer.svg
  source/hardware/controllers/mvave_smc_mixer.rst
Due: scour, gh-wiki-anchors

Fix misxed up columns in M-Vave SMC-Mixer page
  source/hardware/controllers/mvave_smc_mixer.rst
Due: gh-wiki-anchors

Add note about connecting via Bluetooth
  source/hardware/controllers/mvave_smc_mixer.rst
Due: gh-wiki-anchors

Add note that library navigation requires focus
  source/hardware/controllers/mvave_smc_mixer.rst
Due: gh-wiki-anchors

Add border around M-Vave SMC-Mixer SVG
  source/_static/controllers/mvave_smc_mixer.svg
Due: scour

Add footnote about latency over bluetooth
  source/hardware/controllers/mvave_smc_mixer.rst
Due: gh-wiki-anchors

improved contrast
  source/_static/controllers/hercules_djcontrol_inpulse_500.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop_shift.svg
Due: scour

feat: add saved jump cues
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

added jump and fx svgs
  source/_static/controllers/hercules_djcontrol_inpulse_500.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_fx.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_fx_shift.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_jump.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_jump_shift.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop_shift.svg
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: scour, gh-wiki-anchors

Keyboard mapping: add headers (anchors) to tables for easy linking
  source/chapters/appendix/keyboard_mapping_table.rst
Due: gh-wiki-anchors

Link to cue mode page from SMK-25 manual
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

Move footnote into body of SMK-25 docs
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

Adjust SMK-25 column widths to unwrap lines
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

document keyboard mapping auto-reload
  source/chapters/advanced_topics.rst
Due: gh-wiki-anchors

Gitignore egg-info generated by pip
  .gitignore
Due: none

Remove unwanted diff leftover
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors
