Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

Delete source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_deck.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_mixer.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Optimized svg
  source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Delete source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_browser.svg
Due: scour

SVG files
  source/_static/controllers/roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Optimized roland_dj_202_browser.svg
  source/_static/controllers/roland_dj_202_browser.svg
Due: scour

Optimized roland_dj_202_deck.svg
  source/_static/controllers/roland_dj_202_deck.svg
Due: scour

Optimized roland_dj_202_mixer.svg
  source/_static/controllers/roland_dj_202_mixer.svg
Due: scour

Removed all the Huge Characters
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Put correct definitions of Browser section
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.4 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Made structure more uniformed
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Added missing numbers to match the schematic
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/advanced_topics.pot
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/commandline_dev_tools.pot
  source/locale/pot/chapters/appendix/keyboard_mapping_table.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/appendix/settings_directory.pot
  source/locale/pot/chapters/controlling_mixxx.pot
  source/locale/pot/chapters/djing_with_mixxx.pot
  source/locale/pot/chapters/library.pot
  source/locale/pot/chapters/preferences/beat_detection.pot
  source/locale/pot/chapters/preferences/sound_hardware.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/akai_lpd8.pot
  source/locale/pot/hardware/controllers/allen_heath_xone_k2_k1.pot
  source/locale/pot/hardware/controllers/denon_mc4000.pot
  source/locale/pot/hardware/controllers/electrix_tweaker.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_MIX.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_inpulse_200.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk3.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s3.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_z1.pot
  source/locale/pot/hardware/controllers/numark_party_mix.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_200.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_flx4.pot
  source/locale/pot/hardware/controllers/yaeltex_minimixxx.pot
Due: none

Manuel Français
  source/locale/fr/LC_MESSAGES/chapters/hardware.po
Due: none

002
  source/locale/fr/LC_MESSAGES/chapters/hardware.po
Due: none

NL 2
  source/locale/nl/LC_MESSAGES/chapters/introduction.po
  source/locale/nl/LC_MESSAGES/index.po
Due: none

FR 2
  source/locale/fr/LC_MESSAGES/chapters/introduction.po
  source/locale/fr/LC_MESSAGES/index.po
Due: none

mixxx_controls: fix `scratch` bug link syntax
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

NL2
  source/locale/nl/LC_MESSAGES/chapters/appendix/additional_resources.po
  source/locale/nl/LC_MESSAGES/chapters/appendix/application_shortcuts.po
Due: none

NL2
  source/locale/nl/LC_MESSAGES/chapters/appendix/additional_resources.po
Due: none

Remove obsolete entries from .tx/config
  .tx/config
Due: none

Remove 2.3 entries from .tx/config
  .tx/config
Due: none

Updated controls and functions
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Spelling correction
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Resolve merge conflict by incorporating both suggestions
  .tx/config
Due: none

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
