Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Update pioneer_ddj_rev1.rst
  source/hardware/controllers/pioneer_ddj_rev1.rst
Due: gh-wiki-anchors

Add files via upload
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode4.svg
Due: scour

controls: clarify `pitch` and `pitch_adjust` reset on track load
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Intech TEK2 quick guide
  source/_static/controllers/intech_tek2.png
  source/hardware/controllers/intech_TEK2.rst
Due: gh-wiki-anchors

Fix bug skipping the first file
  tools/ignore_pot_creation_date.py
Due: none

move logger deeper to call herarchy
  tools/ignore_pot_creation_date.py
Due: none

Improve type safety
  tools/ignore_pot_creation_date.py
Due: none

Update source translations and Transifex configuration.
  source/locale/pot/chapters/appendix/changelog.pot
Due: none

Fix broken links
  source/conf.py
  source/hardware/controllers/intech_TEK2.rst
  source/hardware/controllers/pioneer_ddj_400.rst
  source/hardware/controllers/pioneer_ddj_flx4.rst
  source/hardware/controllers/pioneer_ddj_sb.rst
  source/hardware/controllers/pioneer_ddj_sb2.rst
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

Improve Pioneer links
  source/hardware/controllers/pioneer_ddj_400.rst
  source/hardware/controllers/pioneer_ddj_flx4.rst
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

update doc with latest changes
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

add new settings to manual
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

edit spelling
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

re- ?
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

Korg Kaoss DJ: Add audio output setup instructions & MacOS notice
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

fix regext for dot folder
  .pre-commit-config.yaml
Due: none

speed up changeset.split() call
  tools/ignore_pot_creation_date.py
Due: none

Fix type of po_file in count_meaningful_changes() and revert_po_file()
  tools/ignore_pot_creation_date.py
Due: none

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/commandline_dev_tools.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/library.pot
  source/locale/pot/chapters/preferences/mixer.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/akai_lpd8.pot
  source/locale/pot/hardware/controllers/akai_mpd24.pot
  source/locale/pot/hardware/controllers/allen_heath_xone_k2_k1.pot
  source/locale/pot/hardware/controllers/american_audio_radius_2000.pot
  source/locale/pot/hardware/controllers/american_audio_vms2.pot
  source/locale/pot/hardware/controllers/arturia_keylab_mk1.pot
  source/locale/pot/hardware/controllers/behringer_bcd2000.pot
  source/locale/pot/hardware/controllers/behringer_bcd3000.pot
  source/locale/pot/hardware/controllers/behringer_bcr2000.pot
  source/locale/pot/hardware/controllers/behringer_cmd_micro.pot
  source/locale/pot/hardware/controllers/behringer_cmd_mm_1.pot
  source/locale/pot/hardware/controllers/behringer_cmd_studio_4a.pot
  source/locale/pot/hardware/controllers/behringer_ddm4000.pot
  source/locale/pot/hardware/controllers/denon_mc4000.pot
  source/locale/pot/hardware/controllers/intech_TEK2.pot
  source/locale/pot/hardware/controllers/mvave_smc_mixer.pot
  source/locale/pot/hardware/controllers/mvave_smk-25-ii.pot
  source/locale/pot/hardware/controllers/numark_omni_control.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_flx4.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sx.pot
Due: none

Update source translations and Transifex configuration.
  source/locale/pot/chapters/advanced_topics.pot
  source/locale/pot/hardware/controllers/intech_TEK2.pot
  source/locale/pot/hardware/controllers/korg_kaoss_dj.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_flx4.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sb.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sb2.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sb3.pot
Due: none

Add files via upload
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Major-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Major-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Minor-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Minor-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale-SHIFT.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale-SHIFT.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode2-linear.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode2-loop.svg
Due: scour

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
