Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: python tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: python tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://github.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

feat: document Numark NS6II controller Mapping
  source/_static/controllers/numark_ns6ii_schematics/display.svg
  source/_static/controllers/numark_ns6ii_schematics/front_view.svg
  source/_static/controllers/numark_ns6ii_schematics/fx_unit.svg
  source/_static/controllers/numark_ns6ii_schematics/mixer.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/auto_loop.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/beat_jump.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/beatgrid_settings.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/generic.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/hotcues.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/intro_outro.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/key_control.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/loop_control.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/sampler.svg
  source/_static/controllers/numark_ns6ii_schematics/top_view.svg
  source/_static/controllers/numark_ns6ii_schematics/top_view_annotated.svg
  source/hardware/controllers/numark_ns6ii.rst
Due: scour, gh-wiki-anchors

appendix/changelog: Update changelog for 2.4 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.5 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

MC7000: Document new mapping settings
  source/_static/controllers/denon_mc7000_mapping_settings.png
  source/hardware/controllers/denon_mc7000.rst
Due: gh-wiki-anchors

MC7000: Add jogwheel acceleration formula
  source/hardware/controllers/denon_mc7000.rst
Due: gh-wiki-anchors

Netlify: Add MathJax to the Content-Security-Policy
  netlify.toml
Due: none

Fix: Remove wrong shortcut reference from library.rst
  source/chapters/library.rst
Due: gh-wiki-anchors

Apply suggestions from code review
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Update source/hardware/controllers/reloop_mixage.rst
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

document new BPM search options
  source/chapters/library.rst
Due: gh-wiki-anchors

library: update metadata editing (bulk editing, reference)
  source/chapters/library.rst
Due: gh-wiki-anchors

Fix links for Xone K2
  source/conf.py
  source/hardware/controllers/allen_heath_xone_k2_k1.rst
Due: gh-wiki-anchors

Describe Skip Silence Start Full Volume mode
  source/chapters/djing_with_mixxx.rst
Due: gh-wiki-anchors

Removed broken links to the Hercules DJControl Instinct, DJControl AIR and DJControl Compact manuals.
  source/hardware/controllers/hercules_djcontrol_air.rst
  source/hardware/controllers/hercules_djcontrol_compact.rst
  source/hardware/controllers/hercules_djcontrol_instinct.rst
Due: gh-wiki-anchors

add Reloop Mixage mapping dcomentation
  source/_static/controllers/reloop_mixage_overview.svg
  source/_static/controllers/reloop_mixage_top.jpg
  source/hardware/controllers/reloop_mixage.rst
Due: scour, gh-wiki-anchors

Move Hercules DJControl MP3 e2 / MP3 LE / Glow manual from wiki
  source/_static/controllers/hercules-mp3e2-schema-deck-playing.jpg
  source/_static/controllers/hercules-mp3e2-schema-deck-voleffects.jpg
  source/_static/controllers/hercules-mp3e2-schema-hotcues.jpg
  source/_static/controllers/hercules-mp3e2-schema-library.jpg
  source/_static/controllers/hercules-mp3e2-schema-loops.jpg
  source/_static/controllers/hercules-mp3e2-schema-masterheadmicro.jpg
  source/_static/controllers/hercules-mp3e2-schema-pitchsync.jpg
  source/_static/controllers/hercules-mp3e2-schema-sampler.jpg
  source/_static/controllers/hercules-mp3e2-schema-shift.jpg
  source/_static/controllers/hercules_mappa.png
  source/hardware/controllers/hercules_djcontrol_mp3_e2.rst
Due: gh-wiki-anchors

Update stanton_djc_4.rst
  source/hardware/controllers/stanton_djc_4.rst
Due: gh-wiki-anchors

add Pioneer RekordBox DVS to supported VC types list
  source/chapters/vinyl_control.rst
Due: gh-wiki-anchors

Update keyboard_mapping_table.rst
  source/chapters/appendix/keyboard_mapping_table.rst
Due: gh-wiki-anchors

update references to `engine.scratch..` functions
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

fix: pin python version to 3.13
  runtime.txt
Due: none

Revert "Redirect "Edit on GitHub" links to the new branch"
  .tx/config
Due: none

Bump release version number to 2.5
  build_html.sh
  source/conf.py
Due: none
