Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Apply suggestion from @tbazant
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

stem control doc added
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

indentation done
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

updating indentation
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

updated formatting
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

applied review suggestions
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

Added Mixxx control group description elements
  source/_static/css/mixxx.css
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Added newline at the end of mixxx.css
  source/_static/css/mixxx.css
Due: none

S4MK3: add support for screens
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

update `waveform_zoom`, is now a ControlPotmeter
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Enable client side caching
  netlify.toml
Due: none

build manual only for 2.5 and 2.6
  source/conf.py
Due: none

updated beats knob to control master gain
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

Add wiki page for NI Traktor MX2
  source/_static/controllers/native_instruments_traktor_mx2.svg
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: scour, gh-wiki-anchors

Fix typo
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: gh-wiki-anchors

Add Cycle through effects shift option on FX buttons
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: gh-wiki-anchors

Add change pitch option on keylock button + loop knob
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: gh-wiki-anchors

Swap Shift, non Shift action of pads in loop mode
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: gh-wiki-anchors

Fix grammar and typos
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Added control types generator script & workflow
  .github/workflows/mixxx-controls-ts.yml
  tools/ts_export_docs_controls.py
Due: none

Applied working-directory suggestions from code review to workflow
  .github/workflows/mixxx-controls-ts.yml
Due: none

Removed prettier subprocess from ts_export_docs_controls.py
  tools/ts_export_docs_controls.py
Due: none

Controls Workflow: Use sync branch; run & diff on push
  .github/workflows/mixxx-controls-ts.yml
Due: none

Fixed controls workflow: run git commands inside repo; stage changes; added needed env vars to push step; Switch to sync branch before commit;
  .github/workflows/mixxx-controls-ts.yml
Due: none

docs: Add Stem VU Meter controls to Appendix
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Format mixxx-controls.d.ts via pre-commit
  .github/workflows/mixxx-controls-ts.yml
Due: none

Made commit & push step conditional; Set MIXXXBOT_TS_TYPES_AUTOUPDATER_PAT as global env var
  .github/workflows/mixxx-controls-ts.yml
Due: none

Fallback to GITHUB_TOKEN for read-only Mixxx checkout
  .github/workflows/mixxx-controls-ts.yml
Due: none

Added base_ref for Mixxx repo checkout for PRs
  .github/workflows/mixxx-controls-ts.yml
Due: none

removed erroneous newline
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Added stem group descriptions
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Mixxx control types export script & workflow
  .github/workflows/mixxx-controls-ts.yml
  tools/ts_export_docs_controls.py
Due: none

controllers: add manual for numark mixstream pro
  source/_static/controllers/numark_mixstream_pro.svg
  source/hardware/controllers/numark_mixstream_pro.rst
Due: scour, gh-wiki-anchors

option to exit slip mode after scratching
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

Add SHIFT functionality to BROWSE knob
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

Numark NS4FX: updated SHIFT+Beats knob to control master gain
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

Reloop Beatmix 2/4: clarify it's version MK2
  source/hardware/controllers/reloop_beatmix_4.rst
Due: gh-wiki-anchors

Apply pre-commit patch
  source/_static/controllers/native_instruments_traktor_mx2.svg
Due: scour

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
