Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: python tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: python tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://github.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

Remove tailing new line
  .tx/config
Due: none

Update notfound_urls_prefix
  source/conf.py
Due: none

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Don't fix auto generated end of line in .tx/config
  .pre-commit-config.yaml
Due: none

Pull translation from Transifex and commit only meaningful changes using ignore_pot_creation_date.py from #708
  source/locale/ca/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/cs/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/de/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/el/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/en_GB/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/es/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/fi/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/fr/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/gl/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/id/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/it/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/it/LC_MESSAGES/chapters/appendix/settings_directory.po
  source/locale/ja/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/nl/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/nl/LC_MESSAGES/chapters/preferences/library.po
  source/locale/nl/LC_MESSAGES/hardware/controllers/yaeltex_minimixxx.po
  source/locale/pl/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/pt/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/pt_BR/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/ro/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/ru/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/sl/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/sq/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/sr/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/sv/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/tr/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/zh_CN/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/zh_TW/LC_MESSAGES/chapters/appendix/mixxx_controls.po
  source/locale/zh_TW/LC_MESSAGES/hardware/controllers/korg_kaoss_dj.po
  source/locale/zh_TW/LC_MESSAGES/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.po
Due: none

https://github.com/pre-commit/pre-commit-hooks: updating v3.1.0 -> v5.0.0
  .pre-commit-config.yaml
Due: none

Add a script that reverts changes in po files when only the time stamp has changed It helps to create meaningful commits, instead of up to 4100 changed files.
  .pre-commit-config.yaml
  tools/ignore_pot_creation_date.py
Due: none

Use a diff call for pre-commit from GitHub workflow in case of a pull request
  .github/workflows/pre-commit.yml
Due: none

feat: document Numark NS6II controller Mapping
  source/_static/controllers/numark_ns6ii_schematics/display.svg
  source/_static/controllers/numark_ns6ii_schematics/front_view.svg
  source/_static/controllers/numark_ns6ii_schematics/fx_unit.svg
  source/_static/controllers/numark_ns6ii_schematics/mixer.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/auto_loop.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/beat_jump.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/beatgrid_settings.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/generic.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/hotcues.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/intro_outro.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/key_control.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/loop_control.svg
  source/_static/controllers/numark_ns6ii_schematics/performancepads/sampler.svg
  source/_static/controllers/numark_ns6ii_schematics/top_view.svg
  source/_static/controllers/numark_ns6ii_schematics/top_view_annotated.svg
  source/hardware/controllers/numark_ns6ii.rst
Due: scour, gh-wiki-anchors

review: address @ronso0 last review. Thank you!
  source/hardware/controllers/numark_ns6ii.rst
Due: gh-wiki-anchors

docs(controller): add reloop ready (WIP)
  source/_static/controllers/reloop_ready_front.svg
  source/_static/controllers/reloop_ready_pads.svg
  source/hardware/controllers/reloop_ready.rst
Due: scour, gh-wiki-anchors

wip
  source/hardware/controllers/reloop_ready.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.5 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Add shortcut for moving FX chain metaknobs
  source/hardware/controllers/hercules_djcontrol_starlight.rst
Due: gh-wiki-anchors

Update shortcut to both modes of Bass/Filter knob
  source/hardware/controllers/hercules_djcontrol_starlight.rst
Due: gh-wiki-anchors

Converted example_setups chapter to MarkDown syntax
  requirements.txt
  source/chapters/example_setups.md
  source/chapters/example_setups.rst
  source/conf.py
Due: gh-wiki-anchors

docs(djing_with_mixxx.rst): 💄 Wrap the term `Gain Staging` in backtick code format
  source/chapters/djing_with_mixxx.rst
Due: gh-wiki-anchors

FIXME COMMIT BAD Update djing_with_mixxx.rst
  source/chapters/djing_with_mixxx.rst
Due: gh-wiki-anchors

glossary, hotcues: mention label, color and dnd rearrange
  source/glossary.rst
Due: gh-wiki-anchors

wip
  source/_static/controllers/reloop_ready_front.svg
  source/_static/controllers/reloop_ready_left.svg
  source/_static/controllers/reloop_ready_pads.svg
  source/_static/controllers/reloop_ready_pads_labelled.svg
  source/_static/controllers/reloop_ready_right.svg
  source/hardware/controllers/reloop_ready.rst
Due: scour, gh-wiki-anchors

fix: upgrade all python versions used on CI to 3.13
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/sphinx.yml
Due: none

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

chore: fix more spelling mistakes caught by codespell
  source/conf.py
  source/hardware/controllers/hercules_dj_console_4_mx.rst
  source/hardware/controllers/hercules_dj_console_rmx.rst
  source/hardware/controllers/numark_n4.rst
  source/hardware/controllers/pioneer_ddj_sx.rst
  source/hardware/controllers/reloop_beatpad.rst
  source/hardware/controllers/reloop_terminal_mix_series.rst
Due: gh-wiki-anchors

Add information about new option that was added in Mixxx 2.5
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

AnnePro2: document new mapping
  source/hardware/controllers/obinslab_anne_pro_2.rst
Due: gh-wiki-anchors

Fix trailing space after description
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

document `tempo_tap`
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Quick effect is toggled with [QuickEffectRack1_[ChannelI]],enabled
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Added sampler stopping and toneplay
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

Fixed syntax
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

Updated to match Mixxx PR#12503
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

Fixing formatting
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

Fixed typo
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

Updated to account for toneplay
  source/hardware/controllers/hercules_djcontrol_inpulse_300.rst
Due: gh-wiki-anchors

add mapping for Numark Mixtrack Platinum FX
  source/_static/controllers/numark_mixtrack_platinum_fx.svg
  source/_static/controllers/numark_mixtrack_platinum_fx_top.jpg
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: scour, gh-wiki-anchors
