Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Update Transifex configuration.
  .tx/config
Due: none

Pull latest translations from Transifex.
  source/locale/de/LC_MESSAGES/chapters/preferences/mixer.po
  source/locale/es/LC_MESSAGES/chapters/preferences/mixer.po
  source/locale/he/LC_MESSAGES/chapters/preferences/mixer.po
  source/locale/he/LC_MESSAGES/hardware/controllers/intech_TEK2.po
  source/locale/he/LC_MESSAGES/hardware/controllers/native_instruments_traktor_mx2.po
  source/locale/he/LC_MESSAGES/hardware/controllers/numark_mixstream_pro.po
  source/locale/he/LC_MESSAGES/hardware/controllers/numark_ns4fx.po
  source/locale/nl/LC_MESSAGES/chapters/preferences/mixer.po
  source/locale/zh_CN/LC_MESSAGES/chapters/preferences/mixer.po
  source/locale/zh_TW/LC_MESSAGES/chapters/preferences/mixer.po
Due: ignore-pot-creation-date

Apply suggestions from code review
  source/hardware/controllers/numark_ns4fx.md
Due: none

Update source/hardware/controllers/numark_ns4fx.md
  source/hardware/controllers/numark_ns4fx.md
Due: none

Update functionality of Star button in documentation
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.md
Due: none

Traktor Kontrol S3: update control descriptions for library encoder
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.md
Due: none

Update pioneer_ddj_rev1.rst
  source/hardware/controllers/pioneer_ddj_rev1.rst
Due: gh-wiki-anchors

feat: add anchored footnote hook
  source/conf.py
  sphinx-mixxx/sphinx_mixxx/footnotes.py
  sphinx-mixxx/sphinx_mixxx/setup.py
Due: none

fix: add patch for table rendering issue
  .github/workflows/build.yml
  .github/workflows/mixxx-controls-ts.yml
  .github/workflows/sphinx.yml
  patches/linuxdoc-rstFlatTable.patch
Due: none

fix: update broken links and remove irrelevant one
  source/chapters/advanced_topics.rst
  source/chapters/appendix/additional_resources.rst
  source/chapters/preferences/sound_hardware.rst
  source/hardware/controllers/american_audio_vms2.md
  source/hardware/controllers/behringer_bcd2000.md
  source/hardware/controllers/behringer_bcd3000.md
  source/hardware/controllers/behringer_bcr2000.md
  source/hardware/controllers/behringer_cmd_micro.md
  source/hardware/controllers/behringer_cmd_mm_1.md
  source/hardware/controllers/behringer_cmd_studio_4a.md
  source/hardware/controllers/behringer_ddm4000.md
  source/hardware/controllers/pioneer_ddj_400.md
  source/hardware/controllers/pioneer_ddj_flx4.md
Due: gh-wiki-anchors

fix: use more recent user agent for link checks
  source/conf.py
Due: none

chore: update pre-commit ignore list
  .pre-commit-config.yaml
  source/chapters/advanced_topics.rst
Due: gh-wiki-anchors

chore: replace incompatible latex engine
  Makefile
Due: none

remove obsolete [EffectRack1_EffectUnitN],loaded
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Clarify CUE button functionality for Windows users
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors

extend BPM fuzzy explanation with half/double from https://github.com/mixxxdj/mixxx/pull/16703
  source/chapters/library.rst
Due: gh-wiki-anchors

Adapt MX2 docs for mapping features added in #16749 See [PR](https://github.com/mixxxdj/mixxx/pull/16749)
  source/hardware/controllers/native_instruments_traktor_mx2.rst
Due: gh-wiki-anchors

Add full documentation for the Denon MC3000 mapping
  source/hardware/controllers/denon_mc3000.md
Due: none

Numark Mixtrack Go Manual: Initial commit
  source/_static/controllers/numark_mixtrack_go.png
  source/hardware/controllers/numark_mixtrack_go.rst
Due: gh-wiki-anchors

Numark Mixtrack Go Manual: Added note about Fade FX
  source/hardware/controllers/numark_mixtrack_go.rst
Due: gh-wiki-anchors

Numark Mixtrack Go Manual: Add manual
  source/_static/controllers/numark_mixtrack_go.png
  source/hardware/controllers/numark_mixtrack_go.md
Due: none

Numark Mix Track Go manual: Add manual.
  source/_static/controllers/numark_mixtrack_go.png
  source/hardware/controllers/numark_mixtrack_go.md
Due: none

Reloop Digital Jockey 2 ME: document Linux driver and mapping
  source/hardware/controllers/reloop_digital_jockey_2_master_edition.rst
Due: gh-wiki-anchors

Fix broken cross-references in Reloop DJ2 ME page
  source/hardware/controllers/reloop_digital_jockey_2_master_edition.rst
Due: gh-wiki-anchors

Document beats_translate_move control in appendix
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Add changelog entry for waveform cache size GiB display
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Document BPM scaling ratios for correcting detection
  source/chapters/djing_with_mixxx.rst
Due: gh-wiki-anchors

Document missing [Skin] controls in appendix
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Document [Mixer Profile] control group in appendix
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Document [Library],AutoDjAddReplace control in appendix
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Set browser User-Agent for linkcheck to avoid 403 errors
  source/conf.py
Due: none

Update community forums link to Discourse support category
  source/chapters/appendix/additional_resources.rst
Due: gh-wiki-anchors

Add Soft Takeover to glossary
  source/chapters/advanced_topics.rst
  source/glossary.rst
Due: gh-wiki-anchors

Document BPM lock icon in tracks view
  source/chapters/library.rst
Due: gh-wiki-anchors

Sync Lock: clarify it only does tempo macthing in the first sentence
  source/chapters/djing_with_mixxx.rst
Due: gh-wiki-anchors

Add yaeltex.com to linkcheck_ignore for CI 403
  source/conf.py
Due: none

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
