Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

Ignore all https://www.pioneerdj.com/en/support/software/controller urls
  source/conf.py
Due: none

Incoperate feedback from MR
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.rst
Due: gh-wiki-anchors

Remove glossary link to soft takeover
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.3 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

add 'loop_remove' control
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

preferences: split into separate files
  source/chapters/preferences.rst
  source/chapters/preferences/beat_detection.rst
  source/chapters/preferences/colors.rst
  source/chapters/preferences/equalizers.rst
  source/chapters/preferences/key_detection.rst
  source/chapters/preferences/library.rst
  source/chapters/preferences/sound_hardware.rst
Due: gh-wiki-anchors

preferences: describe sound inputs and outputs
  source/chapters/preferences/sound_hardware.rst
Due: gh-wiki-anchors

user interface: clarify xfader switches
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

fix broken 'range' table of hotcue controls
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

mixxxcontrols: fix coref markup
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

controls: add [Library],sort_focused_column
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

add test svg
  source/_static/Tux.svg
Due: scour

Update korg_kaoss_dj.rst
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

hardware: fix DDJ-SB3 svg overview labels
  source/_static/controllers/pioneer_ddj_sb3_browser.svg
  source/_static/controllers/pioneer_ddj_sb3_decks.svg
  source/_static/controllers/pioneer_ddj_sb3_effects.svg
  source/_static/controllers/pioneer_ddj_sb3_hotcue.svg
  source/_static/controllers/pioneer_ddj_sb3_mixer.svg
Due: scour

add note about soundcard requirement
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

Fix description for updating translations
  README.md
Due: none

Remove broken link to an outdated link of streaming sservices
  source/chapters/livebroadcasting.rst
Due: gh-wiki-anchors

Fix broken link to ASIO
  source/hardware/controllers/hercules_djcontrol_inpulse_200.rst
Due: gh-wiki-anchors

Remove broken link
  source/hardware/controllers/ion_discover_dj.rst
Due: gh-wiki-anchors

Fix link to pioneer firmware
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

Fix links to the pioneer webside
  source/hardware/controllers/pioneer_ddj_sb3.rst
Due: gh-wiki-anchors

Move to Manual 2.3 project (incl. version number)
  .tx/config
  README.md
Due: none

update/add some library icons
  source/_static/icons/ic_library_analyze.png
  source/_static/icons/ic_library_autodj.png
  source/_static/icons/ic_library_browse.png
  source/_static/icons/ic_library_computer.png
  source/_static/icons/ic_library_library.png
  source/_static/icons/ic_library_tracks.png
  source/chapters/getting_started.rst
  source/chapters/library.rst
  source/shortcuts.rstext
Due: gh-wiki-anchors

Numark DJ2Go2: Support HotCue clear with Pad Clear cue points by clicking while holding the PAD MODE button.
  source/hardware/controllers/numark_dj2go2_touch.rst
Due: gh-wiki-anchors

Update language codes in ../conf.py
  source/conf.py
Due: none

Fix link to https://sonicscoop.com
  source/chapters/hardware.rst
Due: gh-wiki-anchors

No Linkcheck for https://www.roland.com/global/products/dj-505/*
  source/conf.py
Due: none

Add a catch all 404 redirect as the last resort
  build_html.sh
Due: none
