Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

Convert text to paths in SVG
  source/_static/controllers/mvave-smk-25-ii_layer1.svg
  source/_static/controllers/mvave-smk-25-ii_layer2.svg
Due: scour

Apply SMK-25 patch suggested by pre-commit
  source/_static/controllers/mvave-smk-25-ii_layer1.svg
  source/_static/controllers/mvave-smk-25-ii_layer2.svg
Due: scour

Update source/hardware/controllers/mvave_smk-25-ii.rst
  source/hardware/controllers/mvave_smk-25-ii.rst
Due: gh-wiki-anchors

Gitignore egg-info generated by pip
  .gitignore
Due: none

Documentation for beats_translate_half added
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

add white background, add roll and trasport
  source/_static/controllers/hercules_djcontrol_inpulse_500_fx.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_jump.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_jump_shift.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop_shift.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_roll.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_transport.svg
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: scour, gh-wiki-anchors

feat: add dev container and watch mode
  .devcontainer.json
  .gitignore
  Makefile
  requirements.txt
Due: none

fixup! S4MK3: add support for screens
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

S4MK3: add support for screens
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

document AutoDJ CLI switch
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

cleanup and update controller mappings info
  source/chapters/controlling_mixxx.rst
Due: gh-wiki-anchors

add Flatpak migration instruction (copied from News post https://mixxx.org/news/2024-02-21-official-flatpak-now-available-on-flathub/)
  source/chapters/advanced_topics.rst
Due: gh-wiki-anchors

hercules inpulse 500 modes overview
  source/_static/controllers/hercules_djcontrol_inpulse_500_modes.svg
Due: scour

fixes to match current mapping
  source/_static/controllers/hercules_djcontrol_inpulse_500_loop_shift.svg
  source/_static/controllers/hercules_djcontrol_inpulse_500_transport.svg
Due: scour

fixes to match current mapping, added modes overview
  source/hardware/controllers/hercules_djcontrol_inpulse_500.rst
Due: gh-wiki-anchors

Remove unnecessary line in SMC-Mixer page
  source/hardware/controllers/mvave_smc_mixer.rst
Due: gh-wiki-anchors

Add manual for Arturia KeyLab 88 Mk 1
  source/_static/controllers/arturia_keylab88.svg
  source/hardware/controllers/arturia_keylab_mk1.rst
Due: scour, gh-wiki-anchors

Document Hercules DJ Console MK1
  source/hardware/controllers/hercules_dj_console_mk1.rst
Due: gh-wiki-anchors

Fix the Twister's page name
  source/hardware/controllers/dj_techtools_midi_fighter_twister.rst
Due: gh-wiki-anchors

Add documentation for MIDI Fighter Spectra
  source/_static/controllers/dj_techtools_midi_fighter_spectra.svg
  source/hardware/controllers/dj_techtools_midi_fighter_spectra.rst
Due: scour, gh-wiki-anchors

Document the MIDI Fighter Twister
  source/_static/controllers/dj_techtools_midi_fighter_twister.svg
  source/hardware/controllers/dj_techtools_midi_fighter_twister.rst
Due: scour, gh-wiki-anchors

Table changes from review
  source/hardware/controllers/dj_techtools_midi_fighter_spectra.rst
Due: gh-wiki-anchors

Update controller diagram with backgrounds on labels
  source/_static/controllers/dj_techtools_midi_fighter_spectra.svg
Due: scour

Update source/hardware/controllers/dj_techtools_midi_fighter_spectra.rst
  source/hardware/controllers/dj_techtools_midi_fighter_spectra.rst
Due: gh-wiki-anchors

Library: document `bpm:locked` filter
  source/chapters/library.rst
Due: gh-wiki-anchors

Add Icon iControls documentation
  source/_static/controllers/icon_icontrols.svg
  source/hardware/controllers/icon_icontrols.rst
Due: scour, gh-wiki-anchors

Document the Icon P1-Nano mapping
  source/_static/controllers/icon_p1nano.svg
  source/_static/controllers/icon_p1nano_7seg.svg
  source/_static/controllers/icon_p1nano_screen.svg
  source/hardware/controllers/icon_p1_nano.rst
Due: scour, gh-wiki-anchors

Traktor S1 Mk1: Clarify documentation. Especially the loop section and starting hurdles
  source/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.rst
Due: gh-wiki-anchors

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/commandline_dev_tools.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/vinyl_control.pot
  source/locale/pot/hardware/controllers/hercules_dj_console_4_mx.pot
  source/locale/pot/hardware/controllers/hercules_dj_console_rmx.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_inpulse_300.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_starlight.pot
  source/locale/pot/hardware/controllers/mvave_smc_mixer.pot
  source/locale/pot/hardware/controllers/mvave_smk-25-ii.pot
  source/locale/pot/hardware/controllers/numark_mixtrack_platinum_fx.pot
  source/locale/pot/hardware/controllers/numark_n4.pot
  source/locale/pot/hardware/controllers/numark_ns6ii.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sx.pot
  source/locale/pot/hardware/controllers/reloop_beatpad.pot
  source/locale/pot/hardware/controllers/reloop_digital_jockey_2_interface_edition.pot
  source/locale/pot/hardware/controllers/reloop_mixage.pot
  source/locale/pot/hardware/controllers/reloop_terminal_mix_series.pot
Due: none

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/commandline_dev_tools.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/vinyl_control.pot
  source/locale/pot/glossary.pot
  source/locale/pot/hardware/controllers/hercules_dj_console_4_mx.pot
  source/locale/pot/hardware/controllers/hercules_dj_console_rmx.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_inpulse_300.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_starlight.pot
  source/locale/pot/hardware/controllers/mvave_smc_mixer.pot
  source/locale/pot/hardware/controllers/numark_mixtrack_platinum_fx.pot
  source/locale/pot/hardware/controllers/numark_n4.pot
  source/locale/pot/hardware/controllers/numark_ns6ii.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sx.pot
  source/locale/pot/hardware/controllers/reloop_beatpad.pot
  source/locale/pot/hardware/controllers/reloop_digital_jockey_2_interface_edition.pot
  source/locale/pot/hardware/controllers/reloop_mixage.pot
  source/locale/pot/hardware/controllers/reloop_terminal_mix_series.pot
Due: none

Bump version to 2.7
  .tx/config
  source/conf.py
Due: none

P1-Nano: add BPM tap button description
  source/hardware/controllers/icon_p1_nano.rst
Due: gh-wiki-anchors

Use python 3.10
  .github/workflows/build.yml
Due: none

Install netlify-cli.
  .github/workflows/build.yml
Due: none

pin Ci runner to ubuntu-24.04
  .github/workflows/build.yml
Due: none

Use https for www.keithmcmillen.com
  source/conf.py
  source/hardware/controllers/keith_mcmillen_quneo.rst
Due: gh-wiki-anchors

Add www.keithmcmillen.com to linkcheck ignore
  source/conf.py
Due: none

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
