Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Fix hwlabel for DDJ-SX Manual
  source/hardware/controllers/pioneer_ddj_sx.rst
Due: gh-wiki-anchors

fix most dead links in controller mappings
  source/hardware/controllers/akai_lpd8.rst
  source/hardware/controllers/akai_mpd24.rst
  source/hardware/controllers/american_audio_radius_2000.rst
  source/hardware/controllers/american_audio_vms2.rst
  source/hardware/controllers/arturia_keylab_mk1.rst
  source/hardware/controllers/behringer_bcd2000.rst
  source/hardware/controllers/behringer_bcd3000.rst
  source/hardware/controllers/behringer_bcr2000.rst
  source/hardware/controllers/behringer_cmd_micro.rst
  source/hardware/controllers/behringer_cmd_mm_1.rst
  source/hardware/controllers/behringer_cmd_studio_4a.rst
  source/hardware/controllers/behringer_ddm4000.rst
  source/hardware/controllers/denon_mc4000.rst
  source/hardware/controllers/mvave_smc_mixer.rst
  source/hardware/controllers/mvave_smk-25-ii.rst
  source/hardware/controllers/numark_omni_control.rst
Due: gh-wiki-anchors

add ddj sx 2 manual, from sx manual
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

Update manual to reflect latest change, with idea from the community !
  source/hardware/controllers/pioneer_ddj_sx2.rst
Due: gh-wiki-anchors

document keyboard mapping auto-reload
  source/chapters/advanced_topics.rst
Due: gh-wiki-anchors

Fix typo in advanced_topics.rst
  source/chapters/advanced_topics.rst
Due: gh-wiki-anchors

Numark NS4FX Beat Jump
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

fix: address all legacy warning and fixing some missing references
  source/hardware/controllers/arturia_keylab_mk1.md
  source/hardware/controllers/behringer_cmd_mm_1.md
  source/hardware/controllers/behringer_cmd_studio_4a.md
  source/hardware/controllers/electrix_tweaker.md
  source/hardware/controllers/hercules_djcontrol_mp3_e2.md
  source/hardware/controllers/hercules_djcontrol_starlight.md
  source/hardware/controllers/ion_discover_dj.md
  source/hardware/controllers/keith_mcmillen_quneo.md
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.md
  source/hardware/controllers/native_instruments_traktor_kontrol_z1.md
  source/hardware/controllers/numark_idj_live_ii.md
  source/hardware/controllers/numark_mixtrack_platinum_fx.md
  source/hardware/controllers/numark_n4.md
  source/hardware/controllers/numark_ns4fx.md
  source/hardware/controllers/numark_ns6ii.md
  source/hardware/controllers/numark_party_mix.md
  source/hardware/controllers/pioneer_ddj_200.md
  source/hardware/controllers/pioneer_ddj_flx4.md
  source/hardware/controllers/reloop_digital_jockey_2_interface_edition.md
  source/hardware/controllers/stanton_djc_4.md
  source/hardware/controllers/stanton_scs3d.md
Due: none

NS4FX Consistent Transport Pad Naming
  source/hardware/controllers/numark_ns4fx.rst
Due: gh-wiki-anchors

fix: update some broken link to valid URL
  source/chapters/appendix/changelog.rst
  source/hardware/controllers/denon_mc4000.md
Due: gh-wiki-anchors

refactor(controller): update Reloop Terminal Mix 2/4 for JS components
  source/_static/controllers/reloop_terminalmix2_top.jpg
  source/_static/controllers/reloop_terminalmix4_top.jpg
  source/hardware/controllers/reloop_terminal_mix_series.md
Due: none

refactor(controller): update Reloop Terminal Mix 2/4 for JS components
  source/hardware/controllers/reloop_terminal_mix_series.md
Due: none

k3 additions
  source/hardware/controllers/allen_heath_xone_k2_k1.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.6 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Update control descriptions for library encoder
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.rst
Due: gh-wiki-anchors

Update functionality of Star button in documentation
  source/hardware/controllers/native_instruments_traktor_kontrol_s3.rst
Due: gh-wiki-anchors

Numark NS4FX Beat Jump
  source/hardware/controllers/numark_ns4fx.md
Due: none

Numark NS4FX: Control stems with 2nd row of fadercuts pads
  source/hardware/controllers/numark_ns4fx.md
Due: none

Numark NS4FX: Use EQs to control stems
  source/hardware/controllers/numark_ns4fx.md
Due: none

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

xone k ordering
  source/hardware/controllers/allen_heath_xone_k2_k1.rst
Due: gh-wiki-anchors

controls: clarify pitch_adjust reset on track load
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Delete source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-dual-mode.png
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-dual-mode.png
Due: none

Delete source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-stems-layout.png
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-stems-layout.png
Due: none

Replacing with TM free AI generated SVG image.
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-dual-mode.svg
Due: scour

Delete source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-dual-mode.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-dual-mode.svg
Due: scour

Add files via upload
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-stems-layout.svg
Due: scour

Update pioneer_ddj_rev1.rst
  source/hardware/controllers/pioneer_ddj_rev1.rst
Due: gh-wiki-anchors

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
