Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

Traktor S2 Mk1: Correct description
  source/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.rst
Due: gh-wiki-anchors

Traktor S2 Mk1: Explain jogwheel touch calibration
  source/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.rst
Due: gh-wiki-anchors

Applied proposed pre-commit patch
  source/_static/controllers/hercules_djcontrol_mp3_e2_mapping.svg
Due: scour

Fix DDJ 400 links
  source/conf.py
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors

code style: adjusted indentation
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

Added dependabot to automatically update GitHub actions
  .github/dependabot.yml
Due: none

Increase linkcheck timeout
  source/conf.py
Due: none

Remove dead link to unfinished code example from Niko
  source/hardware/controllers/numark_n4.rst
Due: gh-wiki-anchors

Added linebreak again
  source/hardware/controllers/numark_n4.rst
Due: gh-wiki-anchors

Add sphinx-notfound-page to requirements.txt
  requirements.txt
Due: none

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/effects.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.pot
  source/locale/pot/hardware/controllers/numark_n4.pot
  source/locale/pot/hardware/controllers/numark_party_mix.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
Due: none

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/effects.pot
  source/locale/pot/chapters/library.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.pot
  source/locale/pot/hardware/controllers/numark_n4.pot
  source/locale/pot/hardware/controllers/numark_party_mix.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
Due: none

Update source translations and Transifex configuration.
  .tx/config
  README.md
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/effects.pot
  source/locale/pot/chapters/getting_involved.pot
  source/locale/pot/chapters/library.pot
  source/locale/pot/chapters/preferences/library.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk1.pot
  source/locale/pot/hardware/controllers/numark_n4.pot
  source/locale/pot/hardware/controllers/numark_party_mix.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_400.pot
Due: none

Update index.rst
  source/index.rst
Due: gh-wiki-anchors

changelog: fix duplicat #4780 > #4800, fix link format
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

document LoadTrackFromDeck/~Sampler controls
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

controller overview cropped
  source/_static/controllers/denon_mc7000.svg
Due: scour

svg cleanup, add white backgrounds
  source/_static/controllers/denon_mc7000.svg
  source/_static/controllers/denon_mc7000_beatjump_mode.svg
  source/_static/controllers/denon_mc7000_cue_mode.svg
  source/_static/controllers/denon_mc7000_fixed_loop_mode.svg
  source/_static/controllers/denon_mc7000_pitch_play_mode.svg
  source/_static/controllers/denon_mc7000_roll_mode.svg
  source/_static/controllers/denon_mc7000_sampler_mode.svg
  source/_static/controllers/denon_mc7000_velocity_sampler_mode.svg
  source/_static/denon_mc7000_beatjump_mode.svg
  source/_static/denon_mc7000_cue_mode.svg
  source/_static/denon_mc7000_fixed_loop_mode.svg
  source/_static/denon_mc7000_pitch_play_mode.svg
  source/_static/denon_mc7000_roll_mode.svg
  source/_static/denon_mc7000_sampler_mode.svg
  source/_static/denon_mc7000_velocity_sampler_mode.svg
Due: scour

flip logo removed, background opacity set to ff
  source/_static/denon_mc7000_beatjump_mode.svg
  source/_static/denon_mc7000_cue_mode.svg
  source/_static/denon_mc7000_fixed_loop_mode.svg
  source/_static/denon_mc7000_pitch_play_mode.svg
  source/_static/denon_mc7000_roll_mode.svg
  source/_static/denon_mc7000_sampler_mode.svg
  source/_static/denon_mc7000_velocity_sampler_mode.svg
Due: scour

Denon MC7000: add padmodes Velocity Sampler & Pitch Play
  source/_static/controllers/denon_mc7000_pitch_play_mode.svg
  source/_static/controllers/denon_mc7000_velocity_sampler_mode.svg
  source/hardware/controllers/denon_mc7000.rst
Due: scour, gh-wiki-anchors

appendix/changelog: Update changelog for 2.3 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.4 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Use web.archive.org to fix broken links to Stanton and American Audio
  source/hardware/controllers/american_audio_vms4.rst
  source/hardware/controllers/stanton_djc_4.rst
  source/hardware/controllers/stanton_scs1d.rst
  source/hardware/controllers/stanton_scs1m.rst
  source/hardware/controllers/stanton_scs3d.rst
  source/hardware/controllers/stanton_scs3m.rst
Due: gh-wiki-anchors

Fixed wrong PR number in changelog.rst
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Update docs with scratch behaviour variable
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Update effect section of Pioneer DDJ-400 mapping
  source/hardware/controllers/pioneer_ddj_400.rst
Due: gh-wiki-anchors

Update docs after adjusting mapping
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Document additional track knob function
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Update docs with new functionality
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors
