Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

update keyboard sheet and table
  source/_static/Mixxx-240-Keyboard-Mapping.png
  source/_templates/keyboard_mapping_sheet.svg
  source/chapters/appendix/keyboard_mapping_table.rst
Due: scour, gh-wiki-anchors

appendix/changelog: Update changelog for 2.4 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

codespell: apply fixes (don't stage them)
  .pre-commit-config.yaml
Due: none

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

fix beatsize range (upper limit is 512)
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

fix beatjump description
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

improve readabality #430 add standby notice
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

removed unused functions
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

remove unused functions (merge)
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

fix line breaks, add fx button, remove 9
  source/hardware/controllers/korg_kaoss_dj.rst
Due: gh-wiki-anchors

source/conf.py: Bump latest release version to 2.4
  source/conf.py
Due: none

update looping descriptions (no redundant loop cue)
  source/chapters/appendix/mixxx_controls.rst
  source/chapters/user_interface.rst
Due: gh-wiki-anchors

controls: add missing linebreaks before :range:
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Update latest to 2.4
  source/conf.py
Due: none

also update build_html
  build_html.sh
Due: none

lint
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

controls: add missing beatjump/loopsizes, add some line breaks
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

update copyright to 2011-2024
  source/conf.py
Due: none

Mark 2.5 as unreleased, not 2.4
  source/conf.py
Due: none

list Flatpak user directory for Linux
  source/chapters/appendix/settings_directory.rst
Due: gh-wiki-anchors

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/advanced_topics.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/appendix/settings_directory.pot
  source/locale/pot/chapters/preferences/beat_detection.pot
  source/locale/pot/chapters/preferences/sound_hardware.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/allen_heath_xone_k2_k1.pot
Due: none

Update source translations and Transifex configuration.
  .tx/config
  source/locale/pot/chapters/advanced_topics.pot
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/keyboard_mapping_table.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/appendix/settings_directory.pot
  source/locale/pot/chapters/controlling_mixxx.pot
  source/locale/pot/chapters/djing_with_mixxx.pot
  source/locale/pot/chapters/library.pot
  source/locale/pot/chapters/preferences/beat_detection.pot
  source/locale/pot/chapters/preferences/sound_hardware.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/allen_heath_xone_k2_k1.pot
  source/locale/pot/hardware/controllers/electrix_tweaker.pot
  source/locale/pot/hardware/controllers/hercules_djcontrol_MIX.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_s2_mk3.pot
  source/locale/pot/hardware/controllers/native_instruments_traktor_kontrol_z1.pot
  source/locale/pot/hardware/controllers/yaeltex_minimixxx.pot
Due: none

docs(controller): add reloop ready (WIP)
  source/_static/controllers/reloop_ready_front.svg
  source/_static/controllers/reloop_ready_pads.svg
  source/hardware/controllers/reloop_ready.rst
Due: scour, gh-wiki-anchors

Add files via upload
  source/hardware/controllers/numark.mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Update numark_mixtrack_platinum.rst
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

Delete source/hardware/controllers/numark.mixtrack_platinum_fx.rst
  source/hardware/controllers/numark.mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Add files via upload
  source/hardware/controllers/numark_mixtrack_platinum.rst
Due: gh-wiki-anchors

Add files via upload
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Ignore regularly failing https://web.archive.org/web check
  source/conf.py
Due: none

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
