Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: local
  hooks:
  - id: scour
    name: "Optimize SVG files"
    files: ^.*\.svg$
    entry: python tools/optimize_svg.py
    language: python
    additional_dependencies:
    - scour==0.38.2
  - id: gh-wiki-anchors
    name: "Fix GitHub Wiki Anchors for Linkcheck"
    types: [rst]
    entry: python tools/fixup_gh_wiki_anchors.py
    language: python
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.1.0
  hooks:
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: ^source/locale/.*$
  - id: check-yaml
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    name: "Check for spelling mistakes"
    args: ["--ignore-words", ".codespellignore"]
    exclude: ^(.*\.svg|source/locale/.*)$
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    name: "Reformat Python code"
- repo: https://github.com/pycqa/flake8
  rev: '3.8.3'
  hooks:
  - id: flake8
    name: "Check for Python warnings"
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/myint/rstcheck
  rev: '3f92957478422df87bd730abde66f089cc1ee19b'
  hooks:
  - id: rstcheck
    name: "Check RST syntax"
    additional_dependencies:
    - sphinx

appendix/changelog: Update changelog for 2.4 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Add files via upload
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Update numark_mixtrack_platinum_fx.rst
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Add files via upload
  source/hardware/controllers/numark_mixtrack_platinum_fx.svg
Due: scour

Add files via upload
  source/_static/controllers/numark_mixtrack_platinum_fx.svg
Due: scour

Added SVG image numark_mixtrack_platinum_fx.rst
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Delete source/hardware/controllers/numark_mixtrack_platinum_fx.svg
  source/hardware/controllers/numark_mixtrack_platinum_fx.svg
Due: scour

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Add files via upload
  source/_static/controllers/numark_mixtrack_platinum_fx.png
Due: none

Add files via upload
  source/_static/controllers/numark_mixtrack_platinum_fx_toprow.png
Due: none

Added author.
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Effects: document new effect chain controls
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

controls: add `loaded_effect`
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Delete source/_static/controllers/numark_mixtrack_platinum_fx.svg
  source/_static/controllers/numark_mixtrack_platinum_fx.svg
Due: scour

Delete source/hardware/controllers/numark_mixtrack_platinum_fx.rst
  source/hardware/controllers/numark_mixtrack_platinum_fx.rst
Due: gh-wiki-anchors

Delete source/_static/controllers/numark_mixtrack_platinum_fx.png
  source/_static/controllers/numark_mixtrack_platinum_fx.png
Due: none

Delete source/_static/controllers/numark_mixtrack_platinum_fx_toprow.png
  source/_static/controllers/numark_mixtrack_platinum_fx_toprow.png
Due: none

Pioneer DDJ-FX4: Add waveform zoom
  source/hardware/controllers/pioneer_ddj_flx4.rst
Due: gh-wiki-anchors

LoadSelectedTrackAndPlay: describe special behaviour for preview decks
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

keyboard sheet: preview load+play -> load+play/pause with icon
  source/_static/Mixxx-240-Keyboard-Mapping.png
  source/_static/Mixxx-250-Keyboard-Mapping.png
  source/_templates/keyboard_mapping_sheet.svg
  source/chapters/controlling_mixxx.rst
Due: scour, gh-wiki-anchors

Shift-browser turn scrolls list
  source/hardware/controllers/hercules_djcontrol_inpulse_200.rst
Due: gh-wiki-anchors

removing 'encoder' from browser info
  source/hardware/controllers/hercules_djcontrol_inpulse_200.rst
Due: gh-wiki-anchors

shorter autodj playlist advice
  source/hardware/controllers/hercules_djcontrol_inpulse_200.rst
Due: gh-wiki-anchors

Update source/hardware/controllers/reloop_mixage.rst
  source/hardware/controllers/reloop_mixage.rst
Due: gh-wiki-anchors

Create roland_dj_202.rst
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Corrected visuals
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Changed mapping directory
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Update roland_dj_202.rst
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

Update roland_dj_202.rst - added mentions about Sequencer mode and Pattern mode
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors

updated sync and sync lock
  source/hardware/controllers/roland_dj_202.rst
Due: gh-wiki-anchors
