Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Update pioneer_ddj_rev1.rst
  source/hardware/controllers/pioneer_ddj_rev1.rst
Due: gh-wiki-anchors

fix lost text during merge.
  source/chapters/library.rst
Due: gh-wiki-anchors

improve links
  source/hardware/controllers/behringer_bcr2000.rst
  source/hardware/controllers/pioneer_ddj_400.md
  source/hardware/controllers/vestax_vci_100mkii.md
Due: gh-wiki-anchors

Update Mixxx-250-Hardware-DDJ_REV1-Major-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Major-Deck1-MajorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-Major-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Major-Deck2-MinorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-Minor-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Minor-Deck1-MajorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-Minor-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-Minor-Deck2-MinorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale-SHIFT.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale-SHIFT.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck1-MajorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale-SHIFT.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale-SHIFT.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-PT-Deck2-MinorScale.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-lights-mode2-loop.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode2-loop.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-lights-mode4.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode4.svg
Due: scour

Update Mixxx-250-Hardware-DDJ_REV1-lights-mode2-linear.svg
  source/_static/controllers/Mixxx-250-Hardware-DDJ_REV1-lights-mode2-linear.svg
Due: scour

Also ignore Version and Copyright infos
  tools/ignore_pot_creation_date.py
Due: none

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
