Repository mixxxdj/manual: changes, and which pre-commit hooks are due for each by the changed paths.
All: scour, gh-wiki-anchors, ignore-pot-creation-date

scour:
  name: Optimize SVG files
  entry: python tools/optimize_svg.py
  language: python
  additional_dependencies:
  - scour==0.38.2

gh-wiki-anchors:
  name: Fix GitHub Wiki Anchors for Linkcheck
  entry: python tools/fixup_gh_wiki_anchors.py
  language: python

ignore-pot-creation-date:
  name: Ignore POT-Creation-Date
  entry: python tools/ignore_pot_creation_date.py
  language: python

Traktor S4 MK3: Add entry for FilterIsFirstQuickEffect option
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

Traktor S4 Mk3: simplify effect controls section
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

S4MK3: add support for screens
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

Library search: document supported `dateadded` formats
  source/chapters/library.rst
Due: gh-wiki-anchors

fixup! Merge remote-tracking branch 'mixxx/2.6'
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

Pioneer DDJ-FLX4: Document behavior of Shift + Cue
  source/hardware/controllers/pioneer_ddj_flx4.rst
Due: gh-wiki-anchors

Traktor Kontrol S4mk3: fixup Mixer FX doc
  source/hardware/controllers/native_instruments_traktor_kontrol_s4_mk3.rst
Due: gh-wiki-anchors

Made ts_export_docs_controls.py output order deterministic
  tools/ts_export_docs_controls.py
Due: none

controls: add 1-5 star rating controls
  source/chapters/appendix/mixxx_controls.rst
Due: gh-wiki-anchors

Added TypeScript control types deprecation warning
  source/chapters/appendix/mixxx_controls.rst
  tools/ts_export_docs_controls.py
Due: gh-wiki-anchors

Reloop Mixtour: FX btn change
  source/hardware/controllers/reloop_mixtour.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for 2.5 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Bump release to 2.5.5
  source/conf.py
Due: none

docs: clarify empty field search, add anchor for #754
  source/chapters/library.rst
Due: gh-wiki-anchors

docs: address review - move empty field search under text filtering and fix formatting
  source/chapters/library.rst
Due: gh-wiki-anchors

Bump release to 2.5.6
  source/conf.py
Due: none

Update source translations and Transifex configuration.
  source/locale/pot/chapters/appendix/changelog.pot
  source/locale/pot/chapters/appendix/commandline_dev_tools.pot
  source/locale/pot/chapters/appendix/mixxx_controls.pot
  source/locale/pot/chapters/controlling_mixxx.pot
  source/locale/pot/chapters/preferences/sound_hardware.pot
  source/locale/pot/chapters/user_interface.pot
  source/locale/pot/hardware/controllers/numark_mixtrack_platinum_fx.pot
  source/locale/pot/hardware/controllers/numark_mixtrack_pro_3.pot
  source/locale/pot/hardware/controllers/pioneer_ddj_sb3.pot
  source/locale/pot/hardware/controllers/reloop_beatmix_4.pot
Due: none

Update changelog.yml to use EndBug/add-and-commit@v10 and remove unused branch parameter
  .github/workflows/changelog.yml
Due: none

Converted example_setups chapter to MarkDown syntax
  requirements.txt
  source/chapters/example_setups.md
  source/chapters/example_setups.rst
  source/conf.py
Due: gh-wiki-anchors

Fix inter-manual links
  source/chapters/example_setups.md
Due: none

Set dedeicated target branch as in mixxxdj/mixxx Enable dependabot for precommit
  .github/dependabot.yml
Due: none

Only run linkcheck for changed source files in PRs
  .github/workflows/sphinx.yml
  tools/list_changed_source_files.py
Due: none

Add canonical link to the manaul of the latest released Mixxx version to each HTML page
  build_html.sh
  source/conf.py
Due: none

appendix/changelog: Update changelog for 2.6 branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

Add documentation for Numark Party Mix II controller
  source/_static/controllers/numark_party_mix_ii.svg
  source/hardware/controllers/numark_party_mix_ii.rst
Due: scour, gh-wiki-anchors

docs: Detail macOS App Sandbox restrictions
  source/chapters/appendix/settings_directory.rst
Due: gh-wiki-anchors

Fix broken links
  source/conf.py
  source/hardware/controllers/akai_lpd8.rst
  source/hardware/controllers/akai_mpd24.rst
  source/hardware/controllers/denon_mc4000.rst
  source/hardware/controllers/numark_omni_control.rst
Due: gh-wiki-anchors

Library: remove 'renamed' from rescan description
  source/chapters/library.rst
Due: gh-wiki-anchors

Command line: document --enable-legacy-spinny argument
  source/chapters/appendix/commandline_dev_tools.rst
Due: gh-wiki-anchors

appendix/changelog: Update changelog for main branch
  source/chapters/appendix/changelog.rst
Due: gh-wiki-anchors

refactor(controller): update Reloop Terminal Mix 2/4 for JS components
  source/_static/controllers/reloop_terminalmix2_top.jpg
  source/_static/controllers/reloop_terminalmix4_top.jpg
  source/hardware/controllers/reloop_terminal_mix_series.rst
Due: gh-wiki-anchors

Path conditions:
  scour: any of: ^.*\.svg$
  gh-wiki-anchors: any of: \.rst$
  ignore-pot-creation-date: any of: ^.*\.po$
